@import 'constantColor.css';

*, *::before, *::after {
  box-sizing: border-box;
}

.app {
  height: 100%;
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #f1f1f1;
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button {
  font-size: 18px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.link:hover {
  opacity: .8;
}
